<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mipmap_xxxhdpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mipmap_xxxhdpi"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestorRestaurante"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AboutTfgActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCreateWorkerActivity"
            android:exported="false" />
        <activity
            android:name=".UserHistorialPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPedidosActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserCarritoActivity"
            android:exported="false" />
        <activity
            android:name=".UserProductosActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEditProduct"
            android:exported="false" />
        <activity
            android:name=".AdminProductosActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>